= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: {method: :post, role: 'form'}) do |f|
  .container
    .row
      .col-sm-offset-3.col-sm-5
        .card.card-block.round-box.devise
          %h4.card-title.devise= t('button.resend_confirm')
          .card-text.devise
            = devise_error_messages!

            .row.form-group
              .col-sm-12
                = f.email_field :email, class: 'form-control form-control-sm', id: 'inputEmail1',
                                        placeholder: t('label.email_example').downcase,
                                        type: 'email'
            .row.form-group
              .col-sm-12
                = f.submit t('button.send_email'), class: 'btn btn-success'

          .card-footer.text-sm-right.devise
            = render 'devise/shared/links'
