<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form', :class => 'form-horizontal'}) do |f| %>
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-7 round-box devise">
        <div class="modal-header devise">  
          <h3 class="modal-title devise"><%= t('label.edit_user') %></h3> 
        </div>  
      
        <div class="modal-body">
          <%= devise_error_messages! %>
        
          <div class="form-group">
            <label for="inputUsername1" class="col-md-4 control-label devise"><%= t('label.username') -%></label>
            <div class="col-md-8">
              <p class="form-control-static"><%= current_user.username -%></p>
            </div>
          </div>
        
          <div class="form-group">
            <label for="inputCurrentPassword1" class="col-md-4 control-label devise"><%= t('label.current_password') -%></label>
            <div class="col-md-8">
              <%= f.password_field :current_password, class: "form-control", id: "inputCurrentPassword1", placeholder: t('label.current_password').downcase %>
              <span class="help-block devise">(need current password to confirm changes)</span>
            </div>
          </div>
          
          <hr class="devise">

          <div class="form-group">
           <label for="inputEmail1" class="col-md-4 control-label devise"><%= t('label.email') -%></label>
            <div class="col-md-8">
              <%= f.email_field :email, class: "form-control", id: "inputEmail1", placeholder: t('label.email_example').downcase %>
            </div>
          </div>
          
          <% if resource.pending_reconfirmation? %>
            <div class="help-block devise">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>  
         
          <div class="form-group">
            <label for="inputPassword1" class="col-md-4 control-label devise"><%= t('label.new_password') -%></label>
            <div class="col-md-8">
              <%= f.password_field :password, class: "form-control", id: "inputPassword1", placeholder: t('label.new_password').downcase %>
              <span class="help-block devise">(leave blank if you don't want to change it)</span>

            </div>
          </div>
        
          <div class="form-group">
            <label for="inputConfirmPassword1" class="col-md-4 control-label devise"><%= t('label.confirm_new_password') -%></label>
            <div class="col-md-8">
              <%= f.password_field :password_confirmation, class: "form-control", id: "inputConfirmPassword1", placeholder: t('label.confirm_new_password').downcase %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
              <br />
              <%= f.submit t('button.update'), class: "btn btn-success" %>
            </div>
          </div>
        </div>

        <div class="modal-footer devise">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if current_user -%>
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-7 round-box devise">
        <div class="modal-header devise">  
          <h3 class="modal-title devise"><%= t('label.delete_user') %></h3> 
        </div>  
        <div class="modal-body">
          <div class="form-group">
            <div class="col-md-12">
              <label class="devise normal"><%= t('devise.confirmations.confirm_delete_user') -%></label>
                <%= button_to t('button.delete_user', username: current_user.username), registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, class: "btn btn-danger" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end -%>


