= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {role: 'form'}) do |f|
  .container
    .row
      .col-md-offset-2.col-md-8
        .card.card-block.round-box.devise
          %h4.card-title.devise= t('menu.register')

          .card-text.devise
            = devise_error_messages!
            = f.hidden_field :role, value: 'guest'

            .row.form-group
              %label.col-sm-4.form-control-label.text-sm-right.devise= t('label.username')
              .col-sm-8
                = f.text_field :username, class: 'form-control form-control-sm', id: 'inputUsername1', placeholder: t('label.username').downcase

            .row.form-group
              %label.col-sm-4.form-control-label.text-sm-right.devise{for: 'inputEmail1'}= t('label.email')
              .col-sm-8
                = f.email_field :email, class: 'form-control form-control-sm', id: 'inputEmail1',
                                        placeholder: t('label.email_example').downcase,
                                        type: 'email'

            .row.form-group
              %label.col-sm-4.form-control-label.text-sm-right.devise{for: 'inputPassword1'}= t('label.new_password')
              .col-sm-8
                = f.password_field :password, class: 'form-control form-control-sm', id: 'inputPassword1',
                                              placeholder: t('label.new_password').downcase

            .row.form-group
              %label.col-sm-4.form-control-label.text-sm-right.devise{for: 'inputConfirmPassword1'}= t('label.confirm_new_password')
              .col-sm-8
                = f.password_field :password_confirmation, class: 'form-control form-control-sm', id: 'inputConfirmPassword1',
                                                           placeholder: t('label.confirm_new_password').downcase

            .row.form-group
              .col-sm-offset-4.col-sm-8
                = f.submit t('button.register'), class: 'btn btn-success'
          .card-footer.text-sm-right.devise
            = render 'devise/shared/links'
