.row
  .col-md-2
    Rails #{Rails.version}
    %br/
    Ruby #{RUBY_VERSION}
    %br/
  .col-md-3
    = display_bootstrap_version.html_safe
  .col-md-2
    = display_devise_version.html_safe
    = display_cancan_version.html_safe
  .col-md-3
    %button.btn.btn-sm.btn-default{data: {target: '#list_gems', toggle: 'collapse'}, type: 'button'} +/- List All Gems
.row.collapse#list_gems
  %br/
  = all_gems.html_safe