.card.card-block.round-box.devise
  .card-text.devise
    = form_for(:user, as: 'user', url: session_path(:user), html: {role: 'form'}) do |f|
      .form-group
        = link_to t('button.register'), new_registration_path(:user), class: 'btn btn-block btn-primary'
        %hr.green

      .row.form-group.devise
        .col-sm-12
          = f.text_field :username, class: 'form-control form-control-sm', id: 'inputUsername1',
                                    placeholder: t('label.username').downcase

      .row.form-group.devise
        .col-sm-12
          = f.password_field :password, class: 'form-control form-control-sm', id: 'inputPassword1',
                                        placeholder: t('label.password').downcase

      .row.form-group.devise
        .col-sm-6
          .checkbox
            %label.form-control-label.devise.normal.small
              = f.check_box :remember_me
              = t('label.remember_me')
        .col-sm-6
          = link_to 'Forgot&nbsp;password?'.html_safe, new_password_path(:user), class: 'devise_shared'


      .row.form-group.devise
        .col-sm-12
          = f.submit t('button.login'), class: 'btn btn-success'
