<h1><%= get_view_text('h1') %></h1>

<div class="container">
  <div id="content">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
      <li class="active"><a href="#users" data-toggle="tab"><b><%= t('label.manage_users') -%></b></a></li>
      <li><a href="#logs" data-toggle="tab"><b><%= t('label.logs') -%></b></a></li>
    </ul>
    <div id="my-tab-content" class="tab-content">
      <div class="tab-pane active" id="users">
        <br />
        <div id="user_list">
          <%= render "admin/partials/users" %>
        </div>
      </div>
      <div class="tab-pane" id="logs">
        <br />
        <div id="devise_usage_report_block">
          <%= render "devise_usage_log/partials/devise_usage_report_link" %>
        </div>
      </div>
    </div>
  </div>
</div> 
