%h1= get_view_text('h1')
.container
  #content
    %ul.nav.nav-tabs#tabs{data: {tabs: 'tabs'}}
      %li.active
        %a{data: {toggle: 'tab'}, href: '#users'}
          %b= t('label.manage_users')
      %li
        %a{data: {toggle: 'tab'}, href: '#logs'}
          %b= t('label.logs')
    .tab-content#my-tab-content
      .tab-pane.active#users
        %br/
        #user_list
          = render 'admin/partials/users'
      .tab-pane#logs
        %br/
        #devise_usage_report_block
          = render 'devise_usage_log/partials/devise_usage_report_link'

%br/
%br/
%br/
