%nav.navbar.navbar-inverse.navbar-expand-sm.fixed-top

  %button.navbar-toggler.navbar-toggler-right{data: {target: '#top_nav_content', toggle: 'collapse'},
                                              aria: {controls: 'top_nav_content', expanded: 'false', label: 'menu'},
                                              type: 'button'}
    %i.fa.fa-reorder.fa-lg

  %a.navbar-brand{href: root_path}
    = branding_text
    - if Rails.env.development?
      %span [dev]

  .collapse.navbar-collapse#top_nav_content
    %ul.nav.navbar-nav.mr-auto

      %li.nav-item
        %a.nav-link{class: "#{params[:controller] == 'dashboard' ? 'active' : ''}", href: dashboard_path}
          = t('menu.home')

      - if user_signed_in?
        %li.nav-item
          %a.nav-link{href: '#'}= t('menu.messages')
        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle#navbar_profile_dropdown{aria: {expanded: 'false', haspopup: 'true'},
                                      data: {toggle: 'dropdown'}, href: '#'}
            = t('menu.profile')
          .dropdown-menu{aria: {labelledby: 'navbar_profile_dropdown'}}
            %a.dropdown-item{href: '#'}= t('menu.details')
            %a.dropdown-item{href: '#'}= t('menu.licensing')
            %a.dropdown-item{href: '#'}= t('menu.education')

        - if current_user.role?('manager')
          %li.nav-item
            %a.nav-link{class: "#{params[:controller] == 'admin' ? 'active' : ''}", href: admin_path}
              = t('menu.admin')
      %li.nav-item
        %a.nav-link{class: "#{params[:controller] == 'help' ? 'active' : ''}", href: help_path}
          = t('menu.help')

    %ul.nav.navbar-nav
      - if user_signed_in?
        %li.nav-item
          %a.nav-link{href: edit_user_registration_path}
            = image_tag(current_user.avatar_url, size: '30x30', class: 'avatar')
            = current_user.username
            = fa_icon('cog')
        %li.nav-item
          %a.nav-link{href: destroy_user_session_path, data: {method: 'delete'}}= t('menu.logout')
      - else
        - unless controller_name == 'dashboard' && action_name == 'index'
          %li.nav-item
            %a.nav-link{href: new_user_session_path}= t('menu.login')
          %li.nav-item
            %a.nav-link{href: new_user_registration_path}= t('menu.register')
